@charset "UTF-8";
.sales-container2 {
    display: flex;
    height: 100vh;
    align-items: stretch;
    flex-direction: column;
}
.toolbar {
    width: 150px;
    background-color: #f1f1f1;
    padding: 15px 0;
    height: 100%;
    overflow-y: auto;
}
.content {
    flex: 1;
    padding: 0px;
    text-align: center;
    margin-right: 720px;
    display: flex;
    justify-content: flex-start;
}
.content2 {
    flex: 1;
    padding: 0px;
    text-align: center;
    margin-right: 0px;
    display: flex;
    justify-content: flex-start;
}
.toolbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.toolbar ul li {
    text-align: center;
    margin-bottom: 10px;
}

.toolbar ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.toolbar ul li a:hover {
    background-color: #ccc;
}
